.breadcrumbs {
  padding: 30px 0 25px;
  &__link {
    margin-right: 20px;
    color: $black;
    white-space: nowrap;
    @include typo($size:12px,$line:15px);
    &--modal {
      white-space: normal;
    }
  }
  &__list {
    flex-wrap: wrap;
  }
  &__item { 
    margin-bottom: 5px;
    &:last-child {
      .breadcrumbs__link {
        color: $blue;
      }
    }
  }
  &--map {
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
}