.breadcrumbs {
  padding: 30px 0;
  &__link {
    margin-right: 20px;
    color: $black;
    @include typo($size:12px,$line:15px);
  }
  &__item:last-child {
    .breadcrumbs__link {
      color: $blue;
    }
  }
  &--map {
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
}