.small-carousel {
  padding: 0 15px;
  .image__carousel-wrapper {
    &--desktop {
      width: 100%;
      float: left;
      @media (max-width: $min-width-medium) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @media (max-width: $min-width-medium) {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
  .item__wrapper {
    width: 120px;
    height: 75px;
    float: left;
    padding: 0 10px;

    &.active {

      img {
        border: 3px solid #027993;
      }
    }
    @media (max-width: $min-width-medium) {
      width: 100%;
      padding: 0 74px;
    }
  }
  .item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .carousel-item-image{
    .carousel-control{
      width: 40px;
      background: none;
      &.left {
        margin-left:15px;
      }
      &.right {
        margin-right:15px;
      }
    }
    // .cloneditem-1, .cloneditem-2, .cloneditem-3,.cloneditem-4 {
    //   display: none;
    // }
    .cloneditem-1, .cloneditem-2, .cloneditem-3, .cloneditem-4 {
      display: block;
    }
    .carousel-inner {
      margin: 0 55px;
      width: auto;
      @media (min-width: 1280px) {
        @media (transform-3d), (-webkit-transform-3d) {
          > .item.active.right, > .item.next {
            transform: translate3d(120px, 0, 0);
            left: 0;
          }
          > .item.active.left, > .item.prev {
            transform: translate3d(-120px, 0, 0);
            left: 0;
          }
          > .item.left, > .item.prev.right, > .item.active {
            transform: translate3d(0, 0, 0);
            left: 0;
          }
        }
        > .active.left, > .prev {
          left: -120px;
        }
        > .active.right, > .next {
          left:  120px;
        }
        > .left, > .prev.right, > .active {
          left: 0;
        }

        .cloneditem-1, .cloneditem-2, .cloneditem-3, .cloneditem-4{
          display: block;
        }
      }
    }
  }
}
