.dropzone {
    border: 1px solid #ba7530;
    border-radius: 8px;

    .dz-message {
        color: #ba7530;
        font-size: 14px;
    }
}
.dropzone .dz-preview {
    
    .dz-details {
        display: none;
    }

    .dz-remove {
        width: 120px;
        padding-top:10px;

        font-size:15px;
        transition: all .8s ease;
        color:#000;
        letter-spacing: .24px;
        text-decoration: none !important;
        
        &:hover {
            color:#027993;
        }
    }

    .dz-error-message {
        background: #ba7530;
        top: 30px;
        &:after {
            content: none;
        }
    }
}