.employees {
  &__scrollable-div {
    width: 100%;
    @media (max-width: $min-width-mob) {
      min-width: 1280px;
    }
  }
  &__card {
    position: relative;
    height: 410px;
    border-radius: 8px;
    margin-bottom: 60px;
    // background-color: #441E1C;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    &:hover {
      box-shadow: 0 25px 40px 0 rgba(0,0,0,0.31);
      .employees__text {
        background-color: transparent;
      }
    }
  }
  &__card, &__block:after {
    width: 300px;
  }
  &__text {
    width: 100%;
    color: $white;
    padding: 20px 40px 20px 20px;
    position: absolute;
    bottom: 0;
    background-color: #441E1C;
    @include typo($size:14px,$line:18px);
  }
  &__img {
    height: 100%;
  }
  &__name {
    margin-bottom: 16px;
    @include typo($size:24px,$line:29px);
  }
}
