.filter {
  padding: 20px 0;
  border-top: 1px solid rgba(#979797,0.2);
  border-bottom: 1px solid rgba(#979797,0.2);
  @media (max-width: $min-width-mob) {
    padding-bottom: 0;
  }
  &__nav {
    width: 235px;
    margin-bottom: 45px;
    @media (max-width: $min-width-mob) {
      margin-bottom: 35px;      
    }
  }
  &__input-block {
    margin-bottom: 40px;
    &--normal {
      width: 260px;
    }
    &--big {
      width: 300px;
    }
    &--small {
      width: 190px;
    }
    &--inline {
      margin: 0;
    }
    &--full {
      width: 100%;
    }
    @media (max-width: $min-width-mob) {
      width: 100%;
      &--small {
        width: 45%;
        max-width: 158px;
      }
    }
  }
  &__label {
    color: #9B9B9B;
    @include typo($size:14px,$line:18px);
    &--textarea {
      padding-top: 16px;
    }
  }
  &__input {
    background-color: #EAF4F6;
    border-radius: 8px;
    border: none;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: $black;
    // margin-bottom: 40px;
    width: 100%;
    &--full {
      width: 500px;
    }
    @include placeholder{
      font-size: 14px;
      color: #9B9B9B;
    };
    @media (max-width: $min-width-mob) {
      margin-bottom: 20px;
    }
  }
  &__textarea {
    height: 160px;
    resize: none;
    padding: 18px 20px;
  }
  &__input-group {
    flex-wrap: wrap;
    &--add {
      display: none;
      &.js-isVisible {
        display: flex;
      }
    }
  }
  &__link {
    color: $blue;
    margin: auto;
    padding-bottom: 30px;
    margin-right: 76px;
    @include typo($size:20px,$line:40px);
    // &__link--map {
    //   display: flex;
    // }
    @media (max-width: $min-width-mob) {
      margin-right: auto;
      &__link--map {
        display: none;
      }
    }
    &-text--opened {
      display: none;
    }
    &-text--closed {
      display: inline;
    }
    &.iSopened {
      .filter__link-text--opened {
        display: inline;
      }
      .filter__link-text--closed {
        display: none;
      }
    }
  }
  &__link-group {
    @media (max-width: $min-width-mob) {
      flex-direction: column;
    }
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__footer {
    // flex-direction: row;
    @media (max-width: $min-width-mob) {
      flex-direction: column-reverse;  
    }
  }
  &__header {
    padding: 0 20px 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(#979797,0.2);
  }
  &--mob {
    padding: 25px 40px;
    border: none;
    .filter__nav {
      margin-bottom: 35px;      
    }
    .filter__input-block {
      width: 100%;
      &--small {
        width: 45%;
      }
    }
    .filter__input {
      margin-bottom: 40px;
    }
    .filter__link {
      margin-right: auto;
      &__link--map {
        display: none;
      }
    }
    .filter__link-group {
      display: none;
    }
  }
  &--modal {
    display: none;
    &.isOpened {
      display: block;
      position: fixed;
      background: $white;
      top: 0;
      bottom: 0;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  &__radio {
    margin-top: 15px;
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;
      & + label {
        position: relative;
        cursor: pointer;
        line-height: 40px;
        font-size: 14px;
        color: #9B9B9B;
        padding: 11px 0 11px 80px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background-color: #EAF4F6;
        }
        &:after {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
      &:checked + label:after {
        background: $black;
      }
      // &:checked + label:before {
      //   background: #9FD468;
      // }
      // &:focus + label:before {
      //   box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
      // }
    }
    &-label {
      a {
        color: $nut-brown;
        border-bottom: 1px solid rgba($nut-brown,0.3);
      }
    }
  }
}