.filter {
  padding: 20px 0;
  border-top: 1px solid rgba(#979797,0.2);
  border-bottom: 1px solid rgba(#979797,0.2);
  @media (max-width: $min-width-mob) {
    padding-bottom: 0;
  }
  &__nav {
    width: 235px;
    margin-bottom: 45px;
    @media (max-width: $min-width-large) {
      margin-bottom: 35px;      
    }
  }
  &__input-block {
    // margin-bottom: 40px;
    margin: 0 10px 40px;
    &--normal {
      // width: 260px;
      flex-basis: 20%;
    }
    &--big {
      // width: 300px;
      flex-basis: 22%;
    }
    &--small {
      // width: 190px;
      flex-basis: 15%;
    }
    &--inline {
      margin: 0;
    }
    &--full {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    @media (max-width: $min-width-small) {
      // width: 100%;
      flex-basis: 100%;
      margin-bottom: 20px;
      &--small {
        // width: 45%;
        flex-basis: 42%;
        // max-width: 158px;
      }
    }
  }
  &__input-group {
    // flex-wrap: wrap;
    margin: 0 -10px;
    @media (max-width: $min-width-small) {
      flex-wrap: wrap;
    }
    &--add {
      display: none;
      &.js-isVisible {
        display: flex;
      }
    }
  }
  &__label {
    color: #9B9B9B;
    margin-right: 10px;
    @include typo($size:14px,$line:18px);
    &--textarea {
      padding-top: 16px;
    }
    @media (max-width: $min-width-small) {
      display: none;
    }
  }
  &__input {
    background-color: #EAF4F6;
    border-radius: 8px;
    border: none;
    height: 60px;
    padding: 0 20px 0;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    // margin-bottom: 40px;
    width: 100%;
    &--full {
      width: 500px;
      @media (max-width: $min-width-small) {
        width: 100%;
      }
    }
    // @include placeholder{
    //   font-size: 14px;
    //   color: #9B9B9B;
    // }
    &:focus,
    &:not(:focus):valid {
      padding: 23px 20px 0;
    }
    &:focus ~ .filter__floating-label,
    &:not(:focus):valid ~ .filter__floating-label{
      top: 9px;
      // bottom: auto;
      // left: 20px;
      // font-size: 14px;
      // color: #C0C0C0;
      // opacity: 1;
    }
  }
  &__textarea {
    height: 160px;
    resize: none;
    padding: 18px 20px;
    &:focus,
    &:not(:focus):valid {
      padding: 30px 20px 18px;
    }
  }
  &__input-wrap {
    position: relative;
    @media (max-width: $min-width-small) {
      &--full {
        width: 100%;
      }
    }
  }
  &__floating-label {
    width: 100%;
    position: absolute;
    pointer-events: none;
    left: 0;
    padding: 0 20px; 
    line-height: 18px;
    color: #C0C0C0;
    font-size: 14px;
    top: 21px;
    transition: 0.2s ease all;
    @include text-overflow;
  }
  &__link {
    color: $blue;
    margin: auto;
    padding-bottom: 30px;
    margin-right: 76px;
    @include typo($size:20px,$line:40px);
    // &__link--map {
    //   display: flex;
    // }
    @media (max-width: $min-width-small) {
      margin-right: auto;
      &__link--map {
        display: none;
      }
    }
    &-text--opened {
      display: none;
    }
    &-text--closed {
      display: inline;
    }
    &.iSopened {
      .filter__link-text--opened {
        display: inline;
      }
      .filter__link-text--closed {
        display: none;
      }
    }
  }
  &__link-group {
    @media (max-width: $min-width-small) {
      flex-direction: column;
    }
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__footer {
    // flex-direction: row;
    @media (max-width: $min-width-small) {
      flex-direction: column-reverse;  
    }
  }
  &--mob {
    padding: 25px 40px;
    border: none;
    .filter__nav {
      margin-bottom: 35px;      
    }
    .filter__input-block {
      // width: 100%;
      flex-basis: 100%;
      // margin-bottom: 40px;
      &--small {
        // width: 45%;
        flex-basis: 40%;
      }
    }
    .filter__input-group {
      flex-wrap: wrap;
    }
    .filter__link {
      margin-right: auto;
      &__link--map {
        display: none;
      }
    }
    .filter__link-group {
      display: none;
    }
  }
  &__radio {
    margin-top: 15px;
    &-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;
      & + label {
        position: relative;
        cursor: pointer;
        line-height: 40px;
        font-size: 14px;
        color: #9B9B9B;
        padding: 11px 0 11px 80px;
        @media (max-width: $min-width-small) {
          padding-left: 50px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background-color: #EAF4F6;
        }
        &:after {
          content: '';
          position: absolute;
          top: 10px;
          left: 10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      }
      &:checked + label:after {
        background-image: url(../images/mark.png);
      }
      // &:checked + label:before {
      //   background: #9FD468;
      // }
      // &:focus + label:before {
      //   box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
      // }
    }
    &-label {
      a {
        color: $nut-brown;
        border-bottom: 1px solid rgba($nut-brown,0.3);
      }
    }
  }
}