.filter__input-block--normal {
    .filter__select-item, .filter__select-btn {
        width: 300px;
    }
}

.filter__input-block--big {
    .filter__select-item, .filter__select-btn {
        width: 350px;
    }
}

// для страницы услуг, текст в акордеоне вопрос-ответ
#accordion .collapse__content {
    line-height: 19px;
}