.header {
  background: white;
  transition: all .5s ease-in;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  &.sticked {
    .header {
      &__logo {
        height: 40px;
        width: 200px;
        @media (max-width: $min-width-mob) {
          width: 60px;
        }
      }
      &__main {
        border-color: transparent;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      }
      &__main-container {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
  &__logo {
    height: 60px;
    width: 260px;
    // transition: all .5s ease-in;
    @include link-tansition;
    &:hover {
      opacity: 0.6;
    }
    &--mobile {
      display: none;
    }
    @media (max-width: $min-width-mob) {
      width: 100px;
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
  }

  .header__top {
    @media (max-width: $min-width-mob) {
      display: block;
    }
  }

  .header__top-list {
    @media (max-width: $min-width-mob) {
      display: block;
      margin: 0 -20px;

      li {
        display: none;

        &:last-child {
          display: block;

          a {
            margin-left: 20px;
          }
        }
      }
    }
  }

  &__menu-mob {
    display: none;
    @media (max-width: $min-width-mob) {
      display: flex;
    }
  }
  &__top {
    background-color: rgba(155,155,155,0.1);
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  &__main {
    border-bottom: 1px solid #E1E1E1;
  }
  &__main-container {
    transition: all .5s ease-in;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: $min-width-mob) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__top-item {
    position: relative;
    color: #9B9B9B;
    letter-spacing: 0.24px;
    margin-left: 30px;
    // padding-left: 31px;
    // text-decoration: none;
    @include link-tansition;
    @include typo($size:15px,$line:28px);
    &:hover, &.hover {
      color: $black;
    }

    .current-city {
      z-index: 11;
      cursor: pointer;
    }

    .current-city-choose {
      position: absolute;
      background: #fff;
      width: 320px;
      height: 170px;
      z-index: 10;
      right: 0;
      top: 43px;
      box-shadow: 0 9px 25px 0 rgba(186, 117, 48, 0.4);
      border-radius: 8px;
      opacity: 0;
      transform: translateY(-30px);
      transition: 0.4s;
      padding: 16px 19px;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        right: 74px;
        pointer-events: none;
        background: #fff;
        width: 20px;
        height: 20px;
        transform: rotate(60deg) skew(25deg);
      }

      @media (max-width: $min-width-mob) {
        width: 100%;
        max-width: 320px;
        right: 50%;
        transform: translateX(47%);
        height: auto;
      }

      &--active {
        opacity: 1;
        transform: translateY(0);

        @media (max-width: $min-width-mob) {
          transform: translateY(0) translateX(47%);
        }
      }

      .your-city {
        font-size: 15px;
        margin-bottom: 22px;
        color: #000;

        span {
          font-weight: 500;
          letter-spacing: 0.2px;
        }
      }

      .city-controls {
        margin-bottom: 20px;

        &::after {
          clear: both;
          content: "";
          display: block;
        }

        button {
          float: left;
          box-shadow: none;
          padding-bottom: 3px;
          border: none;
          transition: 0.3s;
          color: #ba7530;
          font-size: 16px;
          border-bottom: 1px solid rgba(186,117,48,.3);
          background: transparent;
          position: relative;
          cursor: pointer;

          &.submit-city {
            width: 35px;
          }

          &.other-city {
            width: calc(100% - 50px);
            float: right;
          }

          &:hover {
            border-bottom:  1px solid rgba(186,117,48,.0);
          }

          &:focus,
          &:active {
            outline: none;
          }
        }
      }

      .city-small-text {
        font-size: 13px;
        line-height: 1.4;
        color: #9b9b9b;
        font-weight: 300;
      }
    }
  }

  &__nav {
    display: flex;
    li {
      position: relative;
    }
    &-link {
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.24px;
      @extend %link-like;
      &-block {
        margin-left: 30px;
        color: #000;
        transition: all .8s ease;
        &:hover {
          color: #027993;
        }
      }
    }
    &-item {
      &:hover {
        .header__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  &__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    // top: 150%;
    min-width: calc(100% + 30px);
    background: white;
    font-size: 14px;
    padding: 5px 30px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.07);
    @include link-tansition;
    li {
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #e1e1e1;
      }
      a {
        white-space: nowrap;
        &:hover {
          color: $blue;
        }
      }
    }
    // &.isOpened {
    //   display: block;
    // }
  }
  .menu-mob {
    &:hover {
      .menu-mob__line {
        &:nth-child(1), &:nth-child(3) {
          width: 80%;
        }
      }
    }
    &__text {
      margin-right: 20px;
      font-size: 15px;
      color: #298aa0;
    }
    &__icon {
      height: 28px;
      width: 40px;
    }
    &__line {
      height: 2px;
      width: 100%;
      background-color: #298aa0;
      @include link-tansition;
    }
  }
}

