.header {
  background: white;
  transition: all .5s ease-in;	
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  &.sticked {
    .header {
      &__logo {
        height: 40px;
        width: 200px;   
        @media (max-width: $min-width-mob) {
          width: 60px;   
        }
      }
      &__main {
        border-color: transparent; 
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      }
      &__main-container {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
  &__logo {
    height: 60px;
    width: 260px;
    // transition: all .5s ease-in; 
    @include link-tansition;
    &:hover {
      opacity: 0.6;
    }
    &--mobile {
      display: none;
    }
    @media (max-width: $min-width-mob) {
      width: 100px;
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
  }
  &__menu-mob {
    display: none;
    @media (max-width: $min-width-mob) {
      display: flex;
    }
  }
  &__top {
    background-color: rgba(155,155,155,0.1);
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  &__main {
    border-bottom: 1px solid #E1E1E1;
  }
  &__main-container {
    transition: all .5s ease-in;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: $min-width-mob) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  &__top-item {
    position: relative;
    color: #9B9B9B;
    letter-spacing: 0.24px;
    margin-left: 30px;
    // padding-left: 31px;
    // text-decoration: none;    
    @include link-tansition;
    @include typo($size:15px,$line:28px);
    &:hover {
      color: $black;
    }
  } 
  &__nav {
    display: flex;
    li {
      position: relative;
    }
    &-link {
      cursor: pointer;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.24px;
      margin-left: 30px;
      @extend %link-like;
    }
    &-item {
      &:hover {
        .header__dropdown {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    @media (max-width: $min-width-mob) {
      display: none;      
    }
  }
  &__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    // top: 150%;
    min-width: calc(100% + 30px);
    background: white;
    font-size: 14px;
    padding: 5px 30px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.07);
    @include link-tansition;
    li {
      padding: 15px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #e1e1e1;
      }
      a {
        white-space: nowrap;
        &:hover {
          color: $blue;
        }
      }
    }
    // &.isOpened {
    //   display: block;
    // }
  }
  .menu-mob {
    &:hover {
      .menu-mob__line {
        &:nth-child(1), &:nth-child(3) {
          width: 80%;
        }
      }
    }
    &__text {
      margin-right: 20px;
      font-size: 15px;
      color: #298aa0;
    }
    &__icon {
      height: 28px;
      width: 40px;
    }
    &__line {
      height: 2px;
      width: 100%;
      background-color: #298aa0;
      @include link-tansition;
    }
  }
  &__side {
    position: fixed;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: scroll;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(#027993,0.7);
    @include link-tansition;
    &.isOpened {
      visibility: visible;
      opacity: 1;
    }
  }
  .side {
    &__wrapper {
      max-width: 400px;
      width: 100%;
      max-height: 100%;  
    }
    &__inner {
      min-height: 100%;
      background-color: $white;
      padding: 0 30px 30px;
    }
    &__label {
      padding-top: 30px;
      letter-spacing: 0.24px;
      @include typo($size:20px,$line:40px);
    }
    &__item {
      padding: 15px 25px;
      @include typo($size:16px,$line:20px);
    }
    &__link {
      @extend %link-like;
    }
  }
}