* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
input, button, a, textarea {
  &:focus {
    outline: none;
  }
}
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}

h5 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  &--scroll {
    overflow: visible;
  }
  &--small {
    max-width: 730px;
  }
  @media (max-width: $min-width-mob) {
    &--scroll {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}

.scrollable {
  &-parent {
    // height: 275px;//temp
    //height: auto!important;
    overflow: hidden;
  }
  &-child {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.section {
  .section__header {
    @include typo($size:24px,$line:29px);
    @media (max-width: $min-width-mob) {
      @include typo($size:20px,$line:24px);
    }
  }
}

.page-header {
  margin-bottom: 55px;
  @include typo($size:30px,$line:37px);
}

.btn {
  font-size: 12px;
  line-height: 15px;
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  @include link-tansition;
}
.btn--white {
  padding: 10px 28px;
  color: $white;
  background: transparent;
  border: 1px solid $white;
  text-transform: uppercase;
  &:hover {
    opacity: 0.6;
  }
}
.btn--empty {
  padding: 12px 20px;
  color: $nut-brown;
  background: transparent;
  border: 1px solid $nut-brown;
  text-transform: uppercase;
  &:hover {
    background-color: $nut-brown;
    color: $white;
  }
  &:active{
    background-color: $nut-brown;
    box-shadow: 0 9px 25px 0 $nut-brown;
    color: $white;
  }
}
.btn--small-empty {
  padding: 12px 40px;
}
.btn--regular {
  padding: 21px 45px;
  color: $white;
  background: $nut-brown;
  border: 1px solid $nut-brown;
  &:hover {
    background-color: #A2662B;
  }
  &:active{
    background: $nut-brown;
    box-shadow: 0 9px 25px 0 $nut-brown;
  }
}
.fixed-side-block {
  position: fixed;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
}


.collapse {
  display: none;
  &.in {
    display: block;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.35s;
  transition-timing-function: ease;
}
.wrapper {
  margin: 0 -10px;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  &:after {
    content: "";
  }
  &:after, .col {
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
  }
}
.modal {
  visibility: hidden;
  opacity: 0;
  transform: scale(.95);
  @include link-tansition;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  &__centerer {
    margin: auto;
  }
  &__content {

  }
  &__success {
    color: #BA7530;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    &-block {
      margin: 70px auto;
      max-width: 600px;
      width: 90%;
    }
  }
  &.isOpened {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    background: $white;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 9999;
    padding: 0 0 80px;
    @media (max-width: $min-width-small) {
      padding: 0 0 30px;
    }
  }
  &__header {
    padding: 40px 0 50px;
    // margin-bottom: 25px;
    // border-bottom: 1px solid rgba(#979797,0.2);
    &-close--help {
      margin-top: 35px;
    }
  }
}

.js-select {
  &-block {
    display: none;
    &.isOpen {
      display: block;
      position: absolute;
      z-index: 1;
      //max-height: 215px;
      overflow-x: scroll;
      overflow-y: hidden;
      top: 100%;
      width: 100%;
    }
  }
}
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin-top: 150px;
  position: relative;
  padding-bottom: 558px;
  flex: 1;
  // transition: all .2s ease;
  @media (max-width: $min-width-mob) {
    margin-top: 100px;
  }
}
.side-modal {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  // visibility: visible;
  //   opacity: 1;
  z-index: 2000;
  @include link-tansition;
  &--header {
    background-color: rgba(#027993,0.7);
  }
  &--help {
    background-color: rgba(#BA7530,0.7);
  }
  &.isOpened {
    visibility: visible;
    opacity: 1;
  }
  &__wrapper {
    max-width: 400px;
    width: 100%;
    max-height: 100%;
  }
  &__inner {
    min-height: 100%;
    background-color: $white;
    padding: 0 30px 30px;
    &--modal {
      padding: 0;
    }
  }
  &__container {
    width: 100%;
  }
  &__label, &__header {
    letter-spacing: 0.24px;
    @include typo($size:20px,$line:40px);
  }
  &__label {
    padding-top: 30px;
    // &--dropdown {
    //   &:before {
    //     content: " ";
    //     background-image: url(../images/svg/select__arrow.svg);
    //     width: 15px;
    //     height: 15px;
    //     position: absolute;
    //     right: 20px;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //   }
    // }
  }
  &__item {
    padding: 15px 25px;
    @include typo($size:16px,$line:20px);
  }
  &__link {
    @extend %link-like;
  }
  &__header-block {
    width: 100%;
    padding: 40px 40px;
  }
  &__theme {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: -1px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    cursor: pointer;
    letter-spacing: 0.24px;
    color: #4A4A4A;
    @include typo($size:16px,$line:20px);
    &:hover {
      background-color: #F5F5F5;
      color: $nut-brown;
      margin-top: -1px;
      z-index: 1;
      &:before, &:after {
        content: none;
      }
    }
    &:before, &:after {
      content: " ";
      width: calc(100% - 80px);
      position: absolute;
      left: 40px;
      border-top: 1px solid #e1e1e1;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    &-link {
      max-height: 40px;
      overflow: hidden;
    }
  }
}
