.offers {
  margin-bottom: 50px;
  @media (max-width: $min-width-mob) {
    margin-bottom: 30px;
  }
  &__header {
    margin-bottom: 30px;
  }
  &__scrollable-div {
    width: 100%;
    @media (max-width: $min-width-mob) {
      min-width: 1260px;
    }
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // &--notscrollabel {
    //   @media (max-width: $min-width-mob) {
    //     justify-content: space-around;
    //   }
    // }
  }
  &__card, &__block:after {
      width: 300px;
  }
  &__nav {
    margin-top: 60px;
    // &-icons {
    //   display: flex;
    // }
    &-icons {
      @media (max-width: $min-width-large) {
        display: none;
      }
    }
  }
  &__pagination {
    padding-bottom: 20px;
  }
  &__tab-block {
    @media (max-width: $min-width-large) {
      &[data-content="card"] {
        display: block!important;
      }
      &[data-content="list"] {
        display: none!important;
      }
    }
  }
}
.pagination {
  &__link {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    color: $white;
    background-color: $nut-brown;
    border-radius: 50%;
    @include typo($size:20px,$line:40px);
    &.iSactive {
      background-color: $blue;
    }
  }
}