.partners {
  margin-bottom: 35px;
  @media (max-width: $min-width-mob) {
    margin-bottom: 15px;
  }
  &__header {
    margin-bottom: 55px;
    @media (max-width: $min-width-mob) {
      margin-bottom: 40px;
    }
  }
  &__scrollable-div {
    width: 100%;
    @media (max-width: $min-width-mob) {
      width: 1320px;
    }
  }
  &__img-block {
    padding-bottom: 65px;
    // &--last {
    //   padding-bottom: 65px;
    // }
    @media (max-width: $min-width-mob) {
      &--last {
        margin: 0;
      }
    }
  }
  &__img {
    max-width: 244px;
    max-height: 60px;
    // width: 100%;
    height: auto;
  }
}