.references {
  position: relative;
  color: black;
  &__header {
    margin-bottom: 55px;
  }
  &__text-block {
    margin-left: 60px;
    @include typo($size:14px,$line:18px);
    p {
      margin-bottom: 10px;
    }
    @media (max-width: $min-width-small) {
      margin: 0;
    }

    h4 {
      font-weight: bold;
    }
  }
  &__slider {
    padding-bottom: 75px;
    margin-bottom: 75px;
  }
}
