.references {
  position: relative;
  color: black;
  &__header {
    margin-bottom: 55px;
  }
  &__text-block {
    margin-left: 60px;
    @include typo($size:14px,$line:18px);
    p {
      margin-bottom: 10px;
    }
    @media (max-width: $min-width-small) {
      margin: 0;
    }

  }
  &__slider {
    padding-bottom: 75px;
    margin-bottom: 75px;
  }


}
.references.reviews-count-1 {
  .references__slider
    {
      padding-bottom: 0px;
    }
}
.references__slider {
  @media all and (transform-3d), (-webkit-transform-3d) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0)  !important;
      transform: translate3d(100%, 0, 0) !important;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0) !important;
      transform: translate3d(-100%, 0, 0) !important;
    }
  }
}