.register {
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid rgba(#979797,0.2);
  border-bottom: 1px solid rgba(#979797,0.2);
  .register__header {
    color: #BA7530;
    margin-bottom: 20px;
    @include typo($size:24px,$line:29px);
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
}