.search-type {
  margin: 100px 0 30px;
  position: relative;
  @media (max-width: $min-width-mob) {
    margin: 30px 0;
  }
  &__preset-btn {
    display: flex;
  }
  &__scrollable-div {
    width: 100%;    
    @media (max-width: $min-width-mob) {
      min-width: 940px;
    }
  }
}
