.search-type {
  margin: 60px 0 50px;
  position: relative;
  @media (max-width: $min-width-mob) {
    margin: 30px 0;
  }
  &__preset-block {
    padding-top: 20px;
    padding-bottom: 20px;
    @media (max-width: $min-width-mob) {
      padding-bottom: 50px;
    }
  }
  &__preset-btn {
    display: flex;
  }
  &__scrollable-div {
    width: 100%;
    @media (max-width: $min-width-mob) {
      min-width: 940px;
    }
  }
}

.apartments-block {
  @media screen and (min-width: 1020px) and (max-width: 1440px) {
    justify-content: flex-start;

    & .search-type__preset {
      margin-right: 60px;
      width: 100%;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
