.slider {
  color: $white;
  margin-bottom: 30px;
  @include gradient ($dir:top,$start:#00B6C9,$end:#007F99);
  @media (min-width: $min-width-mob) {
    margin-bottom: 60px;
  }
  .slider__content {
    position: relative;
  }
  .slider__header {
    width: 180px;
    padding: 15px 0 25px;
    @include typo($size:20px,$line:24px,$weight:500);
    @media (min-width: $min-width-mob) {
      width: 538px;
      padding: 30px 0 25px;
      @include typo($size:36px,$line:44px,$weight:500);
    }
  }
  .slider__list {
    display: none;
    margin-bottom: 35px;
    @include typo($size:20px,$line:30px);
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .slider__btn {
    margin-bottom: 18px;
    text-transform: capitalize;
    @media (min-width: $min-width-mob) {
      margin-bottom: 40px;
    }
  }
  .slider__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 180px;
    @media (min-width: $min-width-mob) {
      right: 30%;
      height: 100%;
    }
  }
  .slider__arrows {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 120px;
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  .slider__arrow {
    display: flex;
  }
}