.slider {
  margin-bottom: 60px;
  @media (max-width: $min-width-medium) {
    margin-bottom: 30px;
  }
  &--fixed {
    margin-bottom: 20px;
  }
  &--bottom {
    margin: 0;
  }
  &__inner {
    max-width: 840px;
    margin: auto;
    padding: 0 20px;
    img {
      margin: 0 auto 30px;
      max-width: 180px;
    }
    @media (max-width: $min-width-small) {
      flex-direction: column;
      img {
        max-width: 100px;
      }
    }
  }
  &__indicators {
    li {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: $nut-brown;
      border: none;
      margin: 0 20px;
      &.active {
        width: 14px;
        height: 14px;
        margin: 0 20px;
        background-color: $blue;
      }
    }
  }
  &__container {
    @media (max-width: $min-width-medium) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  &__content {
    position: relative;
    // height: 345px;
    color: $white;
    min-height: 140px;
    // @media (max-width: $min-width-medium) {
    //   height: 305px;
    // }
    // @media (max-width: $min-width-small) {
    //   height: 190px;
    // }
  }
  &__contact-text {
    display: none;
    @media (max-width: $min-width-xsmall) {
      display: block;
      width: 50%;
      margin-bottom: 20px;
    }
  }
  &__header {
    width: 538px;
    padding: 30px 0 25px;
    @include typo($size:36px,$line:44px,$weight:500);
    @media (max-width: $min-width-medium) {
      // width: 430px;
      width: 60%;
      padding: 20px 0;
      @include typo($size:30px,$line:34px,$weight:500);
    }
    @media (max-width: $min-width-small) {
      @include typo($size:24px,$line:30px,$weight:500);
    }
    @media (max-width: $min-width-xsmall) {
      @include typo($size:18px,$line:22px,$weight:500);
    }
  }
  &__list {
    // display: block;
    margin-bottom: 35px;
    max-width: 576px;
    min-height:90px;
    @include typo($size:20px,$line:30px);
    @media (max-width: $min-width-medium) {
      margin-bottom: 20px;
      width: 50%;
      @include typo($size:18px,$line:24px);
    }
    @media (max-width: $min-width-xsmall) {
      display: none;
    }
  }
  &__btn {
    margin-bottom: 40px;
    text-transform: capitalize;
    @media (max-width: $min-width-small) {
      margin-bottom: 20px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 15%;
    height: 100%;  
    max-height: 340px; 
    @media (max-width: $min-width-medium) {
      right: 0;
      // height: 90%;
    }
    @media (max-width: $min-width-xsmall) {
      height: 80%;
    }
    // @media (max-width: $min-width-small) {
    //   right: 0;
    //   height: 180px;
    // }
  }
  &__arrows {
    position: absolute;
    bottom: 40px;
    right: 6%;
    width: 120px;
    @media (max-width: $min-width-medium) {
      display: none;
    }
  }
  &__arrow {
    display: flex;
  }
  &__text-block {
    width: 100%;
  }
}

.item {
  &--best-offers {
    @include gradient ($dir:top,$start:#00B6C9,$end:#007F99); 
  }
  &--test {
    @include gradient ($dir:top,$start:#000000,$end:#ffffff); 
  }
  &--about {
    @include gradient ($dir:top,$start:#D6CEB2,$end:#ADA07A); 
  }
  &--score {
    @include gradient ($dir:top,$start:#79403C,$end:#441E1C); 
  }
  &--vopros-otvet {
    @include gradient ($dir:top,$start:#028496,$end:#014D5D); 
  }
}