.slider {
  color: $white;
  margin-bottom: 60px;
  @media (max-width: $min-width-mob) {
    margin-bottom: 30px;
  }
  &--fixed {
    margin-bottom: 20px;
  }
  &__inner {
    max-width: 840px;
    margin: auto;
  }
  &__indicators {
    li {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #BA7530;
      border: none;
      margin: 0 20px;
      &.active {
        width: 14px;
        height: 14px;
        margin: 0 20px;
        background-color: $blue;
      }
    }
  }
  &__content {
    position: relative;
    height: 345px;
    @media (max-width: $min-width-mob) {
      height: 190px;
    }
  }
  &__header {
    width: 538px;
    padding: 30px 0 25px;
    @include typo($size:36px,$line:44px,$weight:500);
    @media (max-width: $min-width-mob) {
      width: 180px;
      padding: 15px 0 25px;
      @include typo($size:20px,$line:24px,$weight:500);
    }
  }
  &__list {
    // display: block;
    margin-bottom: 35px;
    @include typo($size:20px,$line:30px);
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  &__btn {
    margin-bottom: 40px;
    text-transform: capitalize;
    @media (max-width: $min-width-mob) {
      margin-bottom: 18px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: 30%;
    height: 100%;   
    @media (max-width: $min-width-mob) {
      right: 0;
      height: 180px;

    }
  }
  &__arrows {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 120px;
    @media (max-width: $min-width-mob) {
      display: none;
    }
  }
  &__arrow {
    display: flex;
  }
}

.item {
  &--best-offers {
    @include gradient ($dir:top,$start:#00B6C9,$end:#007F99); 
  }
  &--test {
    @include gradient ($dir:top,$start:#000000,$end:#ffffff); 
  }
  &--about {
    @include gradient ($dir:top,$start:#D6CEB2,$end:#ADA07A); 
  }
}