.statistics {
  margin-bottom: 90px;
  @media (max-width: $min-width-mob) {
    margin-bottom: 50px;
  }
  &-div {
    width: $container-width;
    @media (max-width: $min-width-mob) {
      width: 940px;
    }
  }
  &__header {
    margin-bottom: 42px;
  }
  &__card {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    color: $white;
    @include gradient ($dir:top,$start:#004E80,$end:#002649);
    @media (max-width: $min-width-mob) {
      width: 300px;
      height: 225px;
    }
  }
  &__card-header {
    margin-bottom: 15px;
    @include typo($size:72px,$line:88px);
  }
  &__card-text {
    text-align: center;
    opacity: 0;
    transition: all 2s ease;//0.3
    @include typo($size:20px,$line:24px);
    &.isAnimated {
      opacity: 1;
    }
  }
  &__scrollable-div {
    width: 100%;
    @media (max-width: $min-width-mob) {
      min-width: 940px;
    }
  }

  &_block {
    @media screen and (min-width: 1020px) and (max-width: 1440px) {
      justify-content: flex-start;

      & .statistics__card {
        margin-right: 60px;
        width: 100%;

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}
