.subtheme {
  padding: 0 40px;
  color: #4A4A4A;
  &__header {
    letter-spacing: 0.24px;
    @include typo($size:18px,$line:22px,$weight:700);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(#9B9B9B,0.3);
  } 
  &__content {
    letter-spacing: 0.24px;
    @include typo($size:15px,$line:19px);
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(#9B9B9B,0.3);
    li {
      margin-bottom: 1em;
    }

    padding-top: 20px;
    p, h1, h2, h3, h4, ol, ul {
      margin-bottom: 10px;
    }
  }
  h5 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 22px;
  }
  &__btn-block {
    width: 240px;
    padding-bottom: 50px;
  }
  &__logo {
    width: 320px;
    height: 60px;
    &-block {
      min-height: 300px;
      height: auto;
    }
  }
}