.svg {
  display: block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}
.svg__header-top {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.svg__filter {
  background-color: #002649;
  width: 40px;
  height: 40px;
  padding: 9px;
  border-radius: 50%;
  margin-right: 22px;
  color: $white;
}
.slider__arrow-img {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #339FB3;
  border-radius: 50%;
  color: $white;
}
.svg__users-info {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: $dark-blue;
  border-radius: 50%;
  margin-bottom: 25px;
  color: $white;
}
.svg__main-footer {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: #A8A8A8;
}
.svg__offers {
  width: 40px;
  height: 29px;
  padding-top: 9px;
  margin-left: 20px;
  color: $blue;
}
.js-active {
  .svg__offers {
    color: $nut-brown;
  }
}
.svg__fav {
  width: 40px;
  height: 40px;
  padding: 9px;
  background-color: $dark-blue;
  border-radius: 50%;
  color: $white;
  margin-right: 20px;
}
.svg__item-views {
  height: 22px;
  width: 26px;
  margin-right: 5px;
  color: $white;
}
.svg__map-list {
  width: 40px;
  height: 30px;
  margin-right: 20px;
  color: $nut-brown;
}
.svg__map-btn {
  height: 20px;
  width: 25px;
  margin-right: 20px;
  color: $nut-brown;
}
.svg__filter-close {
  width: 28px;
  height: 28px;
  color: $blue;
}
.small-slider__arrow-img {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  color: $white;
  background-color: rgba($white, 0.2);
}
.svg__item-infra {
  height: 60px;
  margin-bottom: 20px;
}
.svg__fixed-icon {
  width: 65px;
  height: 65px;
}
.acred__icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: $white;
  padding: 20px;
  margin-right: 40px;
  background-color: $dark-blue;
}