.tab {
  &__item {
    color: $nut-brown;
    height: 43px;
    display: block;
    margin-bottom: -1px;
    @include typo($size:20px,$line:24px);
    @media (max-width: $min-width-mob) {
      @include typo($size:18px,$line:22px);
    }
    &.js-active {
      color: $black;
      border-bottom: 2px solid $nut-brown;
    }
    &--big {
      @include typo($size:24px,$line:29px);
      @media (max-width: $min-width-mob) {
        @include typo($size:18px,$line:22px);
      }
    }
    &--clean {
      color: $nut-brown;
      height: auto;
      border-bottom: 1px solid rgba($nut-brown,0.3);
      &.js-active {
        color: $blue;
        border: none;
      }
    }
  }
  &__nav {
    border-bottom: 1px solid rgba($nut-brown,0.4);
    &--clean {
      border: none;
    }
  }
  &__block {
    display: none;
    &.js-active {
      display: block;
    }
  }
}
