.users-info {
  margin-bottom: 50px;
  @media (min-width: $min-width-mob) {
    margin-bottom: 90px;
  }
  &__nav {
    width: 340px;
    margin-bottom: 40px;
    @media (min-width: $min-width-mob) {
      width: 460px;
    }
  }
  &__scrollable-div {
    min-width: 960px;
    @media (min-width: $min-width-mob) {
      width: 100%;
    }
  }
  &__card {
    width: 240px;
    padding: 25px 30px 0 0;
    @include typo($size:16px,$line:19px);
    @media (min-width: $min-width-mob) {
      width: 300px;
      padding: 25px 30px;
    }
  }
}