//colors
$black:         #000000;
$white:         #ffffff;
$light-grey:    rgb(235,236,236);
$middle-grey:   rgb(178,179,179);
$cool-grey:     rgb(91,91,91);
$blue:          rgb(2,121,147);
$brown:         rgb(71,36,29);
$light-brown:   rgb(170,152,119);
$nut-brown:     #BA7530;
$dark-blue:     rgb(0,36,71);

$container-width: 1360px;
$container-width-mob: 340px;

$min-width-mob: 1279px;

$min-width-large: 1080px;
$min-width-medium: 979px;
$min-width-small: 767px;
$min-width-xsmall: 600px;

$max-width-medium: 980px;
//utils
.u-jc-fe {display: flex;justify-content: flex-end;}
.u-jc-fs {display: flex;justify-content: flex-start;}
.u-jc-ce {display: flex;justify-content: center;}
.u-jc-sb {display: flex;justify-content: space-between;}

.u-ai-fe {display: flex;align-items: flex-end;}
.u-ai-fs {display: flex;align-items: flex-start;}
.u-ai-ce {display: flex;align-items: center;}

.u-as-ce {display: flex;align-self: center;margin:auto}

.u-fd-col {display: flex;flex-direction: column;}

.u-fw-wr {display: flex;flex-wrap: wrap;}

// //likes
// .h1 {font-size: 36px;}
// .h2 {font-size: 30px;}
// .h3 {font-size: 24px;}
// .h4 {font-size: 20px;}
// .h5 {font-size: 18px;font-weight: bold;}

%link-like {
  color: $black;
  // line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid rgba($black,0.3);
  &:hover {
    color: $blue;
    border: none;
  }
}
@mixin gradient ($dir:top,$start:$white,$end:$black,$startplace:0%,$endplace:100%) {
  background: $start;
  background: -moz-linear-gradient($dir, $start $startplace, $end $endplace);
  background: -webkit-linear-gradient($dir, $start $startplace,$end $endplace);
  background: linear-gradient(to $dir, $end $startplace, $start $endplace);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
}
@mixin typo($size: 20px, $line:30px, $weight: 400) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}
// @mixin grey {
//   -webkit-filter: grayscale(100%);
//   filter: grayscale(100%);
// }

@mixin text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}