@import "_mixins.scss";
@import "reset.css";

* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
input, button, a, textarea {
  &:focus {
    outline: none;
  }
}
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: $container-width-mob;
  margin: 0 auto;
  &.container--scroll {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  @media (min-width: $min-width-mob) {
    width: $container-width;
    &.container--scroll {
      overflow: visible;
    }
  }
}

.header {
  .header__logo {
    width: 100px;
    height: 60px;
    display: block;
    background: url(/images/logo-mob.png) no-repeat;
    @media (min-width: $min-width-mob) {
      width: 310px;
      background: url(/images/logo.png) no-repeat;
    }
  }
  .header__menu-mob {
    display: block;
    @media (min-width: $min-width-mob) {
      display: none;
    }
  }
  .header__top {
    display: none;
    background-color: rgba(155,155,155,0.1);
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .header__main-container {
    padding: 20px 0;
    @media (min-width: $min-width-mob) {
      padding: 30px 0;
    }
  }
  .header__top-item {
    padding-left: 31px;
    position: relative;
    font-size: 15px;
    line-height: 28px;
    color: #9B9B9B;
    letter-spacing: 0.24px;
    margin-right: 30px;
    text-decoration: none;    
    &:hover {
      color: $black;
    }
    &:before {
      position: absolute;
      content: " ";
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      background-position: center;
      background-repeat: no-repeat;
      color: inherit;
    }
    // &.header__top-item--star:before {
    //   background-image: url(/images/header_star.svg);
    // }
    // &.header__top-item--square:before {
    //   background-image: url(/images/header_square.svg);
    // }
    // &.header__top-item--city:before {
    //   background-image: url(/images/header_city.svg);
    // }
  } 

  .header__nav {
    display: none;
    a {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.24px;
      margin-right: 30px;
      @extend %link-like;
    }
    @media (min-width: $min-width-mob) {
      display: flex;
    }
  }
}

.tab {
  .tab__item {
    color: $nut-brown;
    height: 43px;
    display: block;
    margin-bottom: -1px;
    @include typo($size:18px,$line:22px);
    @media (min-width: $min-width-mob) {
      @include typo($size:20px,$line:24px);
    }
    &.js-active {
      color: $black;
      border-bottom: 2px solid $nut-brown;
    }
    &.tab__item--big {
      @include typo($size:18px,$line:22px);
      @media (min-width: $min-width-mob) {
        @include typo($size:24px,$line:29px);
      }
    }
  }
  .tab__nav {
    border-bottom: 1px solid rgba(#BA7530,0.4);
  }
  .tab__block {
    display: none;
    &.js-active {
      display: block;
    }
  }
}

.slider {
  color: $white;
  margin-bottom: 30px;
  @include gradient ($dir:top,$start:#00B6C9,$end:#007F99);
  @media (min-width: $min-width-mob) {
    margin-bottom: 60px;
  }
  .slider__content {
    position: relative;
  }
  .slider__header {
    width: 180px;
    padding: 30px 0 25px;
    @include typo($size:20px,$line:24px,$weight:500);
    @media (min-width: $min-width-mob) {
      width: 538px;
      padding: 15px 0 25px;
      @include typo($size:36px,$line:44px,$weight:500);
    }
  }
  .slider__list {
    display: none;
    margin-bottom: 35px;
    @include typo($size:20px,$line:30px);
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .slider__btn {
    margin-bottom: 18px;
    @media (min-width: $min-width-mob) {
      margin-bottom: 40px;
    }
  }
  .slider__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 180px;
    @media (min-width: $min-width-mob) {
      right: 30%;
      height: 100%;
    }
  }
}

.filter {
  padding: 20px 0;
  border-top: 1px solid rgba(#979797,0.2);
  border-bottom: 1px solid rgba(#979797,0.2);
  .filter__nav {
    width: 235px;
    margin-bottom: 35px;
    @media (min-width: $min-width-mob) {
      margin-bottom: 45px;
    }
  }
  .filter__input {
    background-color: #EAF4F6;
    border-radius: 8px;
    border: none;
    height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: $black;
    margin-bottom: 20px;
    width: 100%;
    @include placeholder{
      font-size: 14px;
      color: #9B9B9B;
    };
    &.filter__input--small {
      width: 158px;
    }
    @media (min-width: $min-width-mob) {
      margin-bottom: 40px;
      &.filter__input--normal {
        width: 260px;
      }
      &.filter__input--big {
        width: 300px;
      }
      &.filter__input--small {
        width: 190px;
      }
    }
  }
  .filter__input-group {
    flex-wrap: wrap;
    &.filter__input-group--add {
      display: none;
      &.js-isVisible {
        display: flex;
      }
    }
  }
  .filter__link {
    color: $blue;
    margin: auto;
    @include typo($size:20px,$line:40px);
    &.filter__link--map {
      display: none;
    }
    @media (min-width: $min-width-mob) {
      margin-right: 76px;
      &.filter__link--map {
        display: block;
      }
    }
  }
  .filter__btn {
    margin-bottom: 30px;
  }
  .filter__footer {
    flex-direction: column-reverse;
    @media (min-width: $min-width-mob) {
      flex-direction: row;
    }
  }
}
.search-type {
  margin: 30px 0;
  position: relative;
  @media (min-width: $min-width-mob) {
    margin: 100px 0 30px;
  }
  .scrollable-div {
    width: 940px;
    @media (min-width: $min-width-mob) {
      width: $container-width;
    }
  }
}

.preset {
  border-radius: 8px;
  padding: 18px 25px;
  color: $white;
  height: 225px;
  margin-bottom: 50px;
  @media (min-width: $min-width-mob) {
    height: 300px;
    padding: 40px 30px;
    margin-bottom: 60px;
  }
  &.preset--full {
    width: 100%;
  }
  &.preset--small {
    width: 300px;
    @media (min-width: $min-width-mob) {
      width: 400px;
    }
  }
  &.preset--first {
    background-color: #ADA07A;
  }
  &.preset--second {
    background-color: #007F99;
  }
  &.preset--third {
    background-color: #ADA07A;
    background-image: url(/images/search__map.png)
  }
  &.preset--full {
    position: relative;
    @include gradient ($dir:left,$start:#79403C,$end:#441E1C,$startplace:3%,$endplace:80%);
    height: 300px;
    padding: 30px;
    @media (min-width: $min-width-mob) {
      padding: 40px 30px;
    }
  }
  .preset__header {
    @include typo($size:20px,$line:24px);
  }
  .preset__list-item {
    margin-bottom: 15px;
    display: flex;
    &.preset__list-item--last {
      display: none;
      @media (min-width: $min-width-mob) {
        display: block;
      }
    }
  }
  .preset__text {
    font-size: 14px;
    color: $white;    
    line-height: 22px;
    a {
      color: $white;   
      border-bottom: 1px solid rgba($white, 0.3);
    }
  }
  .preset__rooms {
    width: 100px;
  }
  .preset__price {
    width: 115px;
    text-align: right;
  }
  .preset__number {
    width: 125px;
    text-align: right;
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .preset__city {
    width: 160px;
  }
  .preset__city-price {
    width: 95px;
    text-align: right;
  }
  .preset__city-number {
    width: 85px;
    text-align: right;
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .preset__wrapper {
    ul {
      width: 340px;
    }
    &:after {
      content: " ";
      width: 340px;
      height: 1px;
    }
  }
  .preset__list {
    &.preset__list--last {
      display: none;
      @media (min-width: $min-width-mob) {
        display: block;
      }
    }
  }
  .preset__img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
}

.section {
  .section__header {
    @include typo($size:20px,$line:24px);
    @media (min-width: $min-width-mob) {
      @include typo($size:24px,$line:29px);
    }
  }
}
.offers {
  margin-bottom: 50px;
  @media (min-width: $min-width-mob) {
    margin-bottom: 95px;
  }
  .offers__header {
    margin-bottom: 30px;
  }
  .scrollable-div {
    width: 1260px;
    @media (min-width: $min-width-mob) {
      width: $container-width;
    }
  }
}

.statistics {
  margin-bottom: 50px;
  @media (min-width: $min-width-mob) {
    margin-bottom: 90px;
  }
  .scrollable-div {
    width: 940px;
    @media (min-width: $min-width-mob) {
      width: $container-width;
    }
  }
  .statistics__header {
    margin-bottom: 42px;
  }
  .statistics__card {
    width: 300px;
    height: 225px;
    border-radius: 8px;
    color: $white;
    @include gradient ($dir:top,$start:#004E80,$end:#002649);
    @media (min-width: $min-width-mob) {
      width: 400px;
      height: 300px;
    }
  }
  .statistics__card-header {
    margin-bottom: 15px;
    @include typo($size:72px,$line:88px);
  }
  .statistics__card-text {
    @include typo($size:20px,$line:24px);
  }
}

.card {
  width: 300px;
  position: relative;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  &:hover {
    .card__inner {
      border-color: rgba(#BA7530,0.3);
      color: #BA7530;
    }
  }
  &:active {
    box-shadow: 0 9px 25px 0 rgba(186,117,48,0.40);
    .card__inner {
      border-color: transparent;
    }
  }
  .card__image {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .card__inner {
    padding: 25px 20px 20px;
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(#979797,0.2);
    border-top: none;
    @include typo($size:14px,$line:24px);
  }
  .card__price, .card__metr {
    @include typo($size:20px,$line:24px);
  }
  .card__metr {
    margin-bottom: 20px;
  }
  .card__area {
    float: right;
  }
  .card__rooms, .card__floor {
    margin-bottom: 25px;
  }
  .card__speacial {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #BA7530;
    padding: 0 12px;
    color: $white;
    @include typo($size:14px,$line:30px);
  }
}
.users-info {
  margin-bottom: 50px;
  @media (min-width: $min-width-mob) {
    margin-bottom: 90px;
  }
  .users-info__nav {
    width: 340px;
    margin-bottom: 40px;
    @media (min-width: $min-width-mob) {
      width: 460px;
    }
  }
  .scrollable-div {
    width: 960px;
    @media (min-width: $min-width-mob) {
      width: $container-width;
    }
  }
  .users-info__card {
    width: 240px;
    padding: 25px 30px 0 0;
    @include typo($size:16px,$line:19px);
    @media (min-width: $min-width-mob) {
      width: 300px;
      padding: 25px 30px;
    }
  }
}
.partners {
  margin-bottom: 15px;
  @media (min-width: $min-width-mob) {
    margin-bottom: 35px;
  }
  .partners__header {
    margin-bottom: 40px;
    @media (min-width: $min-width-mob) {
      margin-bottom: 55px;
    }
  }
  .scrollable-div {
    width: 1320px;
    @media (min-width: $min-width-mob) {
      width: $container-width;
    }
  }
  .partners__img-block {
    margin-bottom: 65px;
    &.partners__img-block--last {
      margin: 0;
    }
    @media (min-width: $min-width-mob) {
      &.partners__img-block--last {
        margin-bottom: 65px;
      }
    }
  }
  .partners__img {
    max-width: 260px;
    max-height: 60px;
    width: 100%;
    height: auto;
  }
}
.register {
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid rgba(#979797,0.2);
  border-bottom: 1px solid rgba(#979797,0.2);
  .register__header {
    color: #BA7530;
    margin-bottom: 20px;
    @include typo($size:24px,$line:29px);
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
}
.prefooter {
  padding: 20px 0;
  background-color: #F5F5F5;
  @media (min-width: $min-width-mob) {
    padding: 40px 0;
  }
  .prefooter__number {
    margin-bottom: 10px;
    @include typo($size:24px,$line:29px);
  }
  .prefooter__text {
    color: #9B9B9B;
    @include typo($size:14px,$line:18px);
  }
  .prefooter__block {
    text-align: center;
    @media (min-width: $min-width-mob) {
      text-align: right;
    }
  }
  .prefooter__logo {
    @include grey; 
  }
  .prefooter__logo-block {
    display: none;
    @media (min-width: $min-width-mob) {
      display: block;
    }
  }
  .prefooter__container {
    display: flex;
    justify-content: center;
    @media (min-width: $min-width-mob) {
      justify-content: space-between;
    }
  }
}
.main-footer {
  background-color: #262626;
  color: #9B9B9B;
  padding: 35px 0 30px;
  @include typo($size:14px,$line:18px);
  @media (min-width: $min-width-mob) {
    padding: 35px 0 10px;
  }
  .main-footer__header {
    margin-bottom: 25px;
    @include typo($size:24px,$line:29px);
  }
  .main-footer__text {
    margin-bottom: 20px;
  }
  .main-footer__column {
    margin-bottom: 20px;
    &.main-footer__column--first {
      width: 300px;
    }
    &.main-footer__column--second {
      width: 215px;
    }
    &.main-footer__column--third {
      width: 200px;
    }
    &.main-footer__column--fourth {
      width: 200px;
    }
  }
  .main-footer__item {
    margin-bottom: 15px;
  }
  .main-footer__link {
    color: #9B9B9B;
    border-bottom: 1px solid rgba(#9B9B9B,0.3);
  }
  .main-footer__social-link {
    color: #9B9B9B;
    @include typo($size:14px,$line:30px);
  }
  .main-footer__top {
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(#9B9B9B,0.2);
    flex-direction: column;
    @media (min-width: $min-width-mob) {
      flex-direction: row;
    }
  }
  .main-footer__bottom-text {
    color: #7B7B7B;
    text-transform: uppercase; 
    @include typo($size:12px,$line:20px);
    &.main-footer__bottom-text--copyright {
      max-width: 230px;
      margin-bottom: 20px;
    }
    @media (min-width: $min-width-mob) {
      &.main-footer__bottom-text--copyright {
        max-width: none;
      }
    }
  }
  .main-footer__bottom-link {
    color: #7B7B7B;
    border-bottom: 1px solid;
  }
  .main-footer__copyright  {
    margin-top: 25px;
    flex-direction: column;
    @media (min-width: $min-width-mob) {
      flex-direction: row;
    }
  }
}